@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

@font-face {
  font-family: 'Magmatic';
  src: url('../fonts/MagmaticVF.ttf') format('truetype-variations');
  font-weight: 0 1000;
  font-stretch: 0 1000;
}


@font-face {
  font-family: 'Dispatch Mono';
  src: url('../fonts/DispatchMono-Regular.woff2') format('woff2'), url('../fonts/DispatchMono-Regular.woff') format('woff');
  font-weight: 0 1000;
  font-stretch: 0 1000;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
  --maincolor: rgb(25, 115, 255);
  --secondcolor: rgb(0, 180, 50);
  --thirdcolor: rgb(255, 50, 50);
  --code-bgcolor: rgb(255, 255, 215);
}

body{
	font-family: 'Magmatic', sans-serif;
	font-variation-settings: 'wght' 200,'wdth' 600;
    font-size: 1.3em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--maincolor);
}

a{
	color: var(--thirdcolor);
	text-decoration: none;
	transition: all 200ms linear;
}
a:hover{
	font-variation-settings: 'wght' 200,'wdth' 950;
	letter-spacing: 0;
	font-size: .95em;
}
a:visited{
	color: var(--secondcolor);
}

header{
	position: sticky;
	z-index: 50;
	top: 0;
	margin-left: 35vw;
	padding-top: .5em;
	padding-left: 1.5em;
	background: white;

	.home{
		margin-right: 1em;
	}

}
.site-title, nav{
	display: inline-block;
}

nav ul{
	li{
		display: inline-block;
		padding-right: 1em;
		list-style-type: none;
	}
}


main{
	margin-left: 35vw; 
}

aside{
	width: 35vw;
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	height: 100vh;
	box-shadow: 5px 0px 5px -2px var(--secondcolor);
	z-index: 100;
}

.index-list li{
	margin-bottom: 1em;
	p{
		margin-left: .55em;
	}
}

nav#TableOfContents{
	display: block;
	margin: 1.75em;
	ul{
		border-left: 1px solid var(--thirdcolor);
		padding-left: 0.5em;
		margin-bottom: .5em;
	}
	li{
		display: block;
		ul{
			margin-left: 1em;
			border-bottom: 0;
		}
	}
}

article{
	padding: 1.5em;
	margin-right: 1em;
	max-width: 40em;
	position: relative;


	h1{
		font-weight: normal;
		font-variation-settings: 'wght' 550,'wdth' 600;
		font-size: 2em;
		margin-top: 2em;
		line-height: 1.1;
	}

	.anchor{
		position: relative;
		top: -100px;
	}

	time{
		font-family: 'Dispatch Mono', monospace;
		font-size: .8em;
		color: rgb(150,150,150);
	}
	h2, h3, h4, h5, h6 {
		font-variation-settings: 'wght' 550,'wdth' 700;
		text-transform: uppercase;
		font-size: 1.05em;
		letter-spacing: 0.04em;
	}

	h2{
		margin-top: 3em;
	}
	h3{
		margin-top: 1em;
	}

	strong {
		background: var(--code-bgcolor);
		font-weight: normal;
	}

	em {
		font-style: normal;
		font-variation-settings: 'wght' 500, 'wdth' 600;
	}

	h2 + p{
		margin-top: -5px;	
	}
	h3{
		text-transform: none;
	}

	p+p{
		margin-top: 1em;
	}
	ul, ol, pre{
		margin-bottom: 1em;
	}
	li {
		ul{
			margin-top: 0;
			margin-left: 2em;
			margin-bottom: 0;
		}
		p{
			display: inline;
		}
	}

	li time+p{
		display: block;
	}

	ul, ol{
		margin-left: 1em;
	}

	ul{
		list-style-type: none;
		li{
			text-indent: -.5em;
		}
		li::before{
			content: "_ ";
		}
	}
	// a:hover::after{
	// 	content: "→";
	// }


	blockquote{
 		font-variation-settings: 'wght' 160,'wdth' 400;
    	text-indent: -.4em;
    	font-size: 1.38em;
    	line-height: 1.4;
    	margin-top: .5em;

	}
}

// .highlight{
// 	background: #e8e8e8;
// 	padding: 8px 1em;
// }

pre {
	background: var(--code-bgcolor);
	padding: 8px;
	white-space: pre-wrap;
}
code{
	font-family: 'Dispatch Mono', monospace;
	font-size: .8em;
	font-style: normal;
	background: var(--code-bgcolor);
}
p code{
	font-size: .95em;
}
table{
	margin: 1em 0;
}
table th{
	text-align: left;
	font-size: .7em;
	letter-spacing: 1px;
	font-variation-settings: 'wght' 300, 'wdth' 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
th, td{
	padding-right: 1em;
	box-sizing: border-box;
	vertical-align: top;
	padding-bottom: .5em;
	border-bottom: 1px solid var(--maincolor);
}

td:first-child{
	min-width: 160px;
}
.element{
	position: absolute;
	color: var(--thirdcolor);
	font-weight: bold;
    background: var(--code-bgcolor);
    padding: 8px;
    line-height: 1;
    box-shadow: inset 2px 1px 3px var(--thirdcolor);
    z-index: 200;
}

.box{
	border: 1px solid var(--secondcolor);
}

.link-preview {
	background: var(--code-bgcolor);
	margin: 1.5em;

	figcaption{
		padding: 5px;
	}

	iframe{	
		padding: 5px;
		box-sizing: border-box;
		width: 100%;
		height: 200px;
	}
}


// Classes for inline illustrations

.diagram {
	border: 1px solid #e6e6e6;
	padding: 1em;
	margin-bottom: 1em;
	position: relative;
}

.line{
	height: 1.5em;
	background: #e6e6e6;
	margin-bottom: .5em;
}

.square{
	width: 80px;
	height: 80px;
	background: #e6e6e6;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.inline{
	width: 32%;
	height: 1em;
	margin-bottom: .5em;
}

.dotted{
	background: transparent;
	border: 1px dashed var(--maincolor);
}
.marked{
	background: var(--maincolor);
}

@keyframes changecolor {
	0% {background-color: blue; } 
	50% {background-color: yellow; color: rgba(200,155,20,0.8); }
	100%{background-color: green; }
}

@media only screen and (max-width: 1100px) {
	nav ul{
		margin-left: 0;
	}
}
@media only screen and (max-width: 800px) {
  main, aside, header {
   	position: static;
   	margin: 0;
   	width: 100%;
  }
  aside{
  	box-shadow: 0px -5px 5px 2px var(--secondcolor);
  	height: auto;
  }
}